<div class="card" style="padding-top: 0.99%; background: white" >
    <div class="card-body">
      <div class="row">
        <div class="col-3" style="padding-left: 4.5%;">
          <h1 class="card-title">Student Activity</h1>
        </div>
        <div class="col-1" style="padding-top: 0.85%;text-align: end">
            <h5 class="card-title">courses : </h5> 
        </div>
        <div class="col-5" style="padding-top: 0.9%; max-width: 30%;">
            <div class="progress">
              <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:60%">60%</div>
            </div><br>
        </div>
        <div class="col-3 text-right">
            <a class="btn btn-primary" (click)="onSelect()" style="background: whitesmoke;color: black;">VIEW YOUR PROFILE</a>
          </div>
    </div>
  </div>
</div>