<div class="container-fluid" style="padding-left: 0%;padding-right: 0%;">
<div class="row-3">
<div class="col"style="padding-left: 0%;padding-right: 0%;">
<div class="card" style="width:100%; background: rgb(86, 204, 247); height: 13vh;">
    <div class="card-header" style="font-size: 150%;padding-left: 15%;padding-top: 9%; padding-bottom: 12%;color: whitesmoke;position: relative;">
        <h3>StudentsWorld <span class="glyphicon glyphicon-time"></span></h3>
    </div>
</div>
</div>
<div class="row-9">
<div class="col">
<app-main-students></app-main-students>
</div>
</div>
</div>
</div>